@charset "UTF-8";
//定义主题颜色
$theme-type : "teachep"; //教学管理系统
//$theme-type : "tog";
//灰度分成6个等级
$white: #fff;
$light: #ddd;
$stable: #999;
$dark: #666;
$darker: #333;
$black: #000;
$border-color:#f7f7f7;
//提示色
$positive: #3399ff;
$danger: #fe575c;
$warning: #ffe002;
$balanced: #8ad350;
$calm: #00aaaf;
$theme: #3399ff;

@if $theme-type == "teachep" {
  $theme: #2B333B;
}

@if $theme-type == "boc" {  //中国银行主体颜色
  $theme: #B6012E;
}

//提亮
$theme_lighter: lighten($theme,10%);
//变暗
$theme_darker: darken($theme,10%);

//常用功能样式
.fn-text-center{text-align:center !important;}
.fn-text-right{text-align:right !important;}
.fn-text-left{text-align:left !important;}
.fn-color-theme{color:$theme !important;}
.fn-color-notStart{color:#3399ff !important;}
.fn-color-calm{color:$calm !important;}
.fn-color-black{color:$black !important;}
.fn-color-dark{color:$dark !important;}
.fn-color-warning{color:$warning !important;}
.fn-color-danger{color:$danger !important;}
.fn-color-stable{color:$stable !important;}
.fn-color-light{color:$light !important;}
.fn-color-balanced{color: $balanced !important;}
.fn-bg-white{background-color:$white !important;}
.fn-bg-warning{background-color:$warning !important;}
.fn-bg-danger{background-color:$danger !important;}
.fn-bg-stable{background-color:$stable !important;}
.fn-bg-theme{background-color:$theme !important;}
