@charset "UTF-8";
//灰度分成6个等级
$white: #fff;
$light: #ddd;
$stable: #999;
$dark: #666;
$darker: #333;
$black: #000;
//提示色
$positive: #3399ff;
$danger: #fe575c;
$warning: #ffe002;
$balanced: #8ad350;
$calm: #00aaaf;
$theme: #3399ff;
