@import "./color.scss";
@import "./layout.scss";
@import "../icon_font/icon_font.scss";
body{
    margin: 0;
    padding: 0;
}
//动态数据
$head-height:60px;
@mixin vertical-center { // 垂直水平居中
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin ellipsis($line){ // 超出行显示...
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
}

@mixin navbar-style($navbar-height){ //标题栏
    display: flex;
    color: $white;
    padding-right: 15px;
    background: linear-gradient(to right, $theme, $theme_lighter);
    height: $navbar-height;
}

@mixin navbar($navbar-height:50px) {
    @include navbar-style($navbar-height);
    justify-content: center;
    align-items: center;
    .back{
        position: absolute;
        left: 10px;
        .iconfont{
            font-size: 22px;
            cursor: pointer;
        }
    }
}

@mixin caret($margin-left:8px) {
    margin-left: $margin-left;
    margin-top: 2px;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

@mixin bold-font($size){
    color: $darker;
    font-weight: 600;
    font-size: $size;
    letter-spacing: 6px;
}


.ezi-icon-file {
    background-position: -64px 0;
}

.vis-hidden{
    visibility: hidden;
}

@mixin small-round-theme($color){ //小圆点
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid $color;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 10px;
}
/* 向上的箭头 */
.arrow{
    font-size: 0;
    line-height: 0;
    border: 4px dashed $dark;
    vertical-align: middle;
}
.arrow-top {
    border-top-width: 0;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
}
/* 向右的箭头 */
.arrow-right {
    border-right-width: 0;
    border-left-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
/* 向下的箭头 */
.arrow-bottom {
    border-bottom-width: 0;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
}
/* 向左的箭头 */
.arrow-left {
    border-left-width: 0;
    border-right-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.show-vis{
    visibility: visible;
}
.hide-vis{
    visibility: hidden;
}
.remove-a-css{
    text-decoration: none;
    color: $white;
    @include ellipsis(1);
    &:visited{
        color: $white;
    }
}
.remove-a-css-darker{
    text-decoration: none;
    color: $darker;
    @include ellipsis(1);
    &:visited{
        color: $darker;
    }
}
.need-hover{
    cursor: pointer;
    &:hover{
        color: $selectColor!important;
        text-shadow: 0 5px 30px #ddd;
    }
}
