.course_detail{
    .content-top{
        padding:20px 0 20px 0;
        border-bottom: solid 1px $light;
        .title{
            margin-top: 20px;
            font-size: 26px;
            font-weight: bolder;
            letter-spacing: 6px;
            color: $darker;
            .title-b{
                display: flex;
                margin-top: 15px;
                .start{
                    @include vertical-center;
                    .start-btn{
                        font-size: 18px;
                    }
                }
                .course-info{
                    margin-left: 30px;
                    @include vertical-center;
                    font-size: 15px;
                    font-weight: normal;
                    >div{
                        border-right: solid 1px $stable;
                        padding: 10px 20px 10px 20px;
                        display: flex;
                        flex-direction: column;
                        span:not(:first-child){
                            margin-top: 6px;
                            text-align: center;
                        }
                    }
                    >div:last-child{
                        border: none!important;
                    }
                }
            }
        }
    }
    .content-body{
        .el-row{
            width: 100%;
        }
        .content-body-l{
            padding: 10px;
            .introduction{
                min-height: 50px;
            }
            .router-link-c{
                .chapter-list:first-child{
                    border-top: none;
                }
                .chapter-list {
                    font-size: 18px;
                    border-top: solid 1px $light;
                    padding: 20px 0;
                    span {
                        margin-left: 10px;
                    }
                    .remove-a-css {
                        color: $darker !important;
                    }
                    .detail-list {
                        cursor: pointer;
                        padding-left: 30px;
                        .row {
                            padding-left: 20px !important;
                            height: 46px;
                            line-height: 46px;
                            border-radius: 6px;
                            padding: 6px;
                            background-color: #F6F7FB;
                            margin-top: 16px;
                            i {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
                .chapter-list:last-child {
                    border-bottom: solid 1px $light;
                }
                .comments {
                    .panel{
                        width: 100%;
                        .rank-head-img{
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .item{
                            display: flex;
                            align-items: center;
                            border-bottom: solid 1px $light;
                            padding: 10px 10px 10px 0;
                            height: 100px;
                            .item-l{
                                margin-top: -30px;
                            }
                            .item-r{
                                display: flex;
                                flex-direction:column;
                                justify-content: space-between;
                                height: 100%;
                                margin-left: 30px;
                                width: 100%;
                                .row-1{
                                    font-size: 18px;
                                }
                                .row-2{
                                    font-size: 16px;
                                }
                                .row-3{
                                    font-size: 14px;
                                    .time-and-from{
                                        span:last-child{
                                            margin-left: 30px;
                                        }
                                    }
                                    .praise-num{
                                        cursor: pointer;
                                    }
                                    i{
                                        padding-right: 6px;
                                    }
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                        }
                    }
                }
            }
            .content-panel{
                padding: 30px;
            }
        }
        .content-body-r{
            display: flex;
            flex-direction: column;
            .list-title{
                font-size: 20px;
                height:44px;
                line-height: 44px;
                padding-left: 16px;
                font-weight: 600;
                @include ellipsis(1);
            }
            .remove-a-css{
                color: $darker!important;
            }
            padding: 10px;
            .rank-list{
                display: flex;
                justify-content: flex-end;
                .panel{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    min-height: 400px;
                    border: solid 1px $light;
                    padding-bottom: 20px;
                    >div:first-child{
                        border-bottom: solid 1px $light;
                    }
                    .item{
                        >div{
                            padding: 0 20px;
                        }
                        @include vertical-center;
                        .rank-head-img{
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        >div:first-child{
                            width: 5%;
                        }
                        >div:nth-child(2){
                            width: 10%;
                        }
                        >div:nth-child(3){
                            width: 50%;
                            @include ellipsis(1);
                        }
                        >div:nth-child(4){
                            width: 35%;
                        }
                    }
                    .see-more{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .similar-course-list{
                display: flex;
                justify-content: flex-end;
                margin-top: 60px;
                .panel{
                    border: solid 1px $light;
                    width: 90%;
                    .see-more{
                        width: 100%;
                        text-align: center;
                        padding-bottom: 20px;
                    }
                    .item{
                        @include vertical-center;
                        padding: 16px 10px;
                        border-top: solid 1px $light ;
                        .item-l{
                            width: 100%;
                            height: 100px;
                        }
                        .item-r{
                            width:100%;
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                            @include ellipsis(3);
                            div:first-child{
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


//element-ui reset
.content-tab{
    .is-top{
        border: none!important;
    }
    .el-tabs__nav-wrap{
        position: relative;
        left: -20px!important;
    }
    .el-tabs__nav{
        border: none!important;
        #tab-chapter{
            font-weight: 600;
            font-size: 18px;
        }
        #tab-comments{
            @extend #tab-chapter
        }
        #tab-file{
            @extend #tab-chapter
        }
    }
    .is-active{
        color: red!important;
    }
    .el-tabs__header{
        border-bottom: solid 1px $light!important;
        padding-bottom: 20px;
    }
}
ul li{
    list-style-type:none;
    margin:0;
    font-size: 16px;
    font-weight: normal;
}