.course_detail{
    .content-top{
        padding:20px 0 20px 0;
        border-bottom: solid 1px $light;
        .title{
            margin-top: 20px;
            font-size: 26px;
            font-weight: bolder;
            letter-spacing: 6px;
            color: $darker;
            .title-b{
                display: flex;
                margin-top: 15px;
                .start{
                    @include vertical-center;
                    .start-btn{
                        font-size: 18px;
                    }
                }
                .course-info{
                    margin-left: 30px;
                    @include vertical-center;
                    font-size: 15px;
                    font-weight: normal;
                    >div{
                        border-right: solid 1px $stable;
                        padding: 10px 20px 10px 20px;
                        display: flex;
                        flex-direction: column;
                        span:not(:first-child){
                            margin-top: 6px;
                            text-align: center;
                        }
                    }
                    >div:last-child{
                        border: none!important;
                    }
                }
            }
        }
    }
    .content-body{
        .el-row{
            width: 100%;
        }
        .content-body-l{
            padding: 10px;
            .introduction{
                min-height: 50px;
            }
            .router-link-c{
               .chapter-list{
                   font-size: 18px;
                   border-top: solid 1px $light;
                   padding: 20px 0;
                   span{
                       margin-left: 10px;
                   }
                   .remove-a-css{
                       color: $darker!important;
                   }
                   .detail-list{
                       cursor: pointer;
                       padding-left: 30px;
                       .row{
                           padding-left: 20px!important;
                           height: 46px;
                           line-height: 46px;
                           border-radius: 6px;
                           padding: 6px;
                           background-color: #F6F7FB;
                           margin-top: 16px;
                           i{
                               font-size: 20px!important;
                           }
                       }
                   }
               }
                .chapter-list:last-child{
                    border-bottom: solid 1px $light;
                }
            }
            .content-panel{
                padding: 30px;
            }
        }
        .content-body-r{
            .remove-a-css{
                color: $darker!important;
            }
            padding: 10px;
            .rank-list{
                table{
                    border: solid 1px $light;
                    width: 100%;
                    tr:first-child{
                        td{
                            border-bottom: solid 1px $light ;
                        }
                    }
                    tr:last-child{
                        td{
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


//element-ui reset
.content-tab{
    .is-top{
        border: none!important;
    }
    .el-tabs__nav-wrap{
        position: relative;
        left: -20px!important;
    }
    .el-tabs__nav{
        border: none!important;
        #tab-chapter{
            font-weight: 600;
            font-size: 18px;
        }
        #tab-comments{
            @extend #tab-chapter
        }
        #tab-file{
            @extend #tab-chapter
        }
    }
    .is-active{
        color: red!important;
    }
}
ul li{
    list-style-type:none;
    margin:0;
    font-size: 16px;
    font-weight: normal;
}