$content-top-height:300px;
.home {
    padding-bottom: 100px;
    .content {
        padding-bottom: 30px;
        .content-top {
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
            border-radius: 6px;
            background-color: $theme;
            color: $white;
            min-height:$content-top-height;
            margin-top: 30px;
            .el-col-6 {
                padding: 0 0 0 16px;
                .grid-content{
                    height: $content-top-height;
                }
                .s-row {
                    //height: calc(#{$content-top-height}/4);
                    height: 60px;
                    @include vertical-center;
                    >span{
                        @extend .left-title;
                    }
                    .left-title {
                        background-color: $theme;
                        width: 100%;
                        height: 100%;
                        border: none;
                        justify-content: space-around;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        padding-left: 10px;
                        font-size: 18px;
                        color: $light;
                        cursor: pointer;
                        &:hover {
                            color: $white;
                            background-color: $theme_lighter;
                        }
                        .left-title-row{
                            display: flex;
                            justify-content: space-between;
                            margin-left: 36%;
                        }
                    }
                    .hover {
                        background-color: $theme_lighter;
                    }
                }
            }
        }
        .content-panel{
            box-shadow: 0 4px 16px 4px  rgba(7, 17, 27, .1);
            padding: 30px!important;
            margin-top: 40px;
            .title{
                i{
                    font-size: 24px;
                    font-weight: normal;
                    color: $danger;
                    margin-right: 20px;
                }
                margin-top: 20px;
                text-align: center;
                height: $head-height;
                line-height: $head-height;
                @include bold-font(20px);
                display: flex;
                div:first-child{
                    width: 95%;
                }
                div:last-child{
                    display: flex;
                    justify-content: flex-end;
                    width: 5%;
                    cursor: pointer;
                    &:hover{
                        color: $selectColor;
                    }
                }
            }
            .body{

            }
        }
    }
}
//element 组件初始化
.shuffling{
    cursor: pointer;
}
.el-popover {
    background-color: $white!important;
    position: absolute!important;
    top:calc(#{$head-height} + 40px)!important;
    width: 40%;
    padding: 30px;
    margin: 0;
    height: calc(#{$content-top-height} - 64px);
    .top-title-detail{
        display: flex;
        align-items: center;
        margin-top: 16px;
        .content-title-item{
           margin-left: 30px;
            cursor: pointer;
            font-size: 16px;
            &:hover{
                color: $danger;
            }
        }
    }
    .content-title{
        display: flex;
        align-items: center;
        span{
            margin-left: 30px;
            font-weight: bolder;
            font-size: 14px;
        }
        div{
            width: 90%;
            height: 1px;
            margin-left: 12px;
            background-color: rgba(77,85,93,.08);
        }
    }
}
.course-row:not(:first-of-type){
    margin-top: 30px;
}
.course-row{
    .el-col{
        min-width: 216px!important;
    }
}
.course-item{
    display: flex;
    flex-direction: column;
    color: $theme;
    cursor: pointer;
    height: 200px;
    margin-top: 30px;
    text-decoration: none;
    &:hover{
        .bg-img{
          box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
        }
        .small-item{
            color: $darker;
        }
    }
    .bg-img{
        border-radius: 6px;
        height: 110px!important;
        width: 192px;
        border: solid 1px $stable;
        overflow: hidden;
        position: relative;
        .course-type{
            position: absolute;
            width: 100%;
            bottom: 2%;
            font-size: 14px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap-reverse;
            span{
                @include ellipsis(1);
                text-align: center;
                color: $light;
                width: 50px;
                border-radius: 20px;
                background-color: rgba(0,0,0,0.6);
                padding: 2px 0;
                margin-bottom: 10px;
                margin-left: 4%;
            }
        }
    }
    .name{
        @include ellipsis(1);
        margin-top: 6px;
        padding-left: 10px;
        font-size: 15px;
    }
    .small-item{
        color: $stable;
        font-size: 12px;
        margin-top: 6px;
        padding-left: 10px;
        i{
            margin-left: 10px;
        }
    }
}
