$content-top-height:300px;
.home {
    .content {
        padding-bottom: 30px;
        .content-top {
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
            border-radius: 12px;
            background-color: $theme;
            color: $white;
            min-height:$content-top-height;
            .el-col-6 {
                padding: 0 0 0 16px;
                .grid-content{
                    height: $content-top-height;
                }
                .s-row {
                    height: calc(#{$content-top-height}/4);
                    @include vertical-center;
                    .left-title {
                        background-color: $theme;
                        width: 100%;
                        height: 100%;
                        border: none;
                        justify-content: space-around;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        padding-left: 10px;
                        font-size: 20px;
                        color: $light;
                        cursor: pointer;
                        &:hover {
                            background-color: $theme_lighter;
                        }
                    }
                    .hover {
                        background-color: $theme_lighter;
                    }
                }
            }
        }
        .content-panel{
            .title{
                margin-top: 20px;
                text-align: center;
                height: $head-height;
                line-height: $head-height;
                @include bold-font(20px);
            }
            .body{

            }
        }
    }
}
//element 组件初始化
.el-popover {
    background-color: $white!important;
    position: absolute!important;
    top:calc(#{$head-height} + 10px)!important;
    width: 40%;
    padding: 0;
    margin: 0;
    height: calc(#{$content-top-height} - 24px);
}
.course-row:not(:first-of-type){
    margin-top: 30px;
}
.course-item{
    display: flex;
    flex-direction: column;
    color: $theme;
    cursor: pointer;
    height: 200px;
    margin-top: 30px;
    &:hover{
        .bg-img{
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
        }
        .small-item{
            color: $darker;
        }
    }
    .bg-img{
        border-radius: 12px;
        height: 80%;
        border: solid 1px $stable;
        overflow: hidden;
        position: relative;
        .course-type{
            position: absolute;
            bottom: 4%;
            left: 6%;
            font-size: 14px;
            @include vertical-center;
            span{
                @include ellipsis(1);
                text-align: center;
                color: $light;
                width: 50px;
                border-radius: 20px;
                background-color: rgba(0,0,0,0.6);
                padding: 2px 0;
            }
            span:not(:first-of-type){
                margin-left: 10px;
            }
        }
    }
    .name{
        @include ellipsis(1);
        margin-top: 6px;
        padding-left: 10px;
    }
    .small-item{
        color: $stable;
        font-size: 12px;
        margin-top: 6px;
        padding-left: 10px;
        span:last-of-type{
            margin-left: 10px;
        }
        i{
            margin-left: 10px;
        }
    }
}