.personal-center{
    .paging{
        text-align: center;
    }
    .content-top{
        @include vertical-center;
        justify-content: space-between;
        height: 220px;
        border-bottom: solid 1px $light;
        .top-l{
            @include vertical-center;
            .head-img{
                position: relative;
                border-radius: 50%;
                width: 90px;
                height: 90px;
                overflow: hidden;
                .avatar-uploader{
                    height: 100%;
                    .el-upload{
                        height: 100%;
                    }
                }
                /*.el-upload{
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    overflow: hidden;
                }
                .head-img-tip{
                    visibility: visible;
                    position: absolute;
                    background-color: rgba(0,0,0,.1);
                    bottom: 0;
                    font-size: 15px;
                    height: 100%;
                    @include vertical-center;
                    color: white;
                    text-shadow: 2px 2px 2px $dark;
                }
                &:hover{
                    .head-img-tip{
                        visibility: visible;
                        cursor: pointer;
                    }
                }*/
            }
            .personal-info{
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                height: 76px;
                justify-content: space-around;
                font-size: 18px;
            }
        }
        .top-r{
            font-size: 18px;
            @include vertical-center;
            >div{
                @include vertical-center;
                flex-direction: column;
                justify-content: space-around;
                height: 76px;
                >span:first-child{
                    font-weight: 600;
                }
            }
            >div:first-child{
                margin-right: 30px;
            }
        }
    }
    .content-main{
        @include vertical-center;
        margin-top: 30px;
        .main{
            width: 100%;
            .nav-content{
                padding: 30px;
                .nav-course-row:not(:first-child){
                    margin-top: 30px;
                }
                .nav-course-row{
                    border-bottom: solid 1px $light;
                    padding-bottom: 30px;
                    .item-left{
                        height: 140px;
                        padding-right: 30px;
                    }
                    .item-mid{
                        display: flex;
                        flex-direction: column;
                        height: 140px;
                        justify-content: space-around;
                        padding-left: 10px;
                        padding-right: 50px;
                        .title{
                            font-size: 20px;
                        }
                        .introduction{
                            @include ellipsis(3);
                        }
                        .study-state{
                            span:first-child{
                                color: $selectColor;
                            }
                            span:last-child{
                                margin-left: 30px;
                            }
                        }
                    }
                    .item-right{
                        @extend .item-mid;
                        justify-content: space-between;
                        align-items: flex-end;
                        padding-right: 0;
                        .start-time{
                            @include ellipsis(1);
                        }
                        .continue-study{
                            color: $selectColor;
                            height: 50px;
                            width: 140px;
                            @include vertical-center;
                            border: solid 1px $selectColor;
                        }
                    }
                }
            }
            .personal-info{
                padding: 30px 0;
                .top{
                    padding: 0 30px 30px 30px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    border-bottom: solid 1px $light;
                    .edit-info{
                        cursor: pointer;
                        font-size: 20px;
                        @include vertical-center;
                    }
                    i{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
                .main{
                    padding: 30px;
                    font-size: 22px;
                    .row{
                        height: 80px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .real-name{
                padding: 30px 0;
                .top{
                    padding: 0 30px 30px 30px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    border-bottom: solid 1px $light;
                    .edit-info{
                        cursor: pointer;
                        font-size: 20px;
                        @include vertical-center;
                    }
                    i{
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
                .main{
                    padding: 30px;
                    font-size: 22px;
                    .left{
                        .top-tip{
                            color: $danger;
                            font-size: 20px;
                        }
                        .real-name-data{
                            min-height: 600px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            border-right: solid 1px $light;
                            padding-right: 60px;
                            .name{
                                white-space: nowrap;
                            }
                        }
                        .commit-btn{
                            width: 30%;
                            margin: 0 auto;
                        }
                    }
                    .right{
                        padding-left:60px;
                        padding-right: 60px;
                        ul{
                            width: 90%;
                            li{
                                list-style: disc;
                                padding-bottom: 30px;
                                font-weight: normal;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

    }
}

//element
.left-nav{
    .el-tabs__nav{
        min-height: 800px;
    }
    .el-tabs__item{
        height: 100px;
        line-height: 100px;
        font-size: 20px;
        font-weight: 600;
        width: 180px;
        text-align: center!important;
    }
    .el-tabs__active-bar{
        background-color: $selectColor;
    }
    .is-active{
        color: $selectColor;
    }
    .is-left{

    }
}
.personal-dialog{
    margin-top: 15vh;
    .el-form{
        padding-right: 30px;
    }
}
